@charset "UTF-8";

*{margin: 0; padding: 0; box-sizing: border-box; font-size: 14px; color: #141414}
li{list-style: none}
table{border-collapse: collapse; border: 1px solid #000}
#container{width: 1100px; margin: 0 auto}